In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:

df=pd.Series(np.arange(1,51))
print(df.values)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50]

### groupby()

In [3]:
world_cup={'Team':['West Indies','West Indies','India','Australia','Pakistan','Sri Lanka','Australia','Australia','Australia','India','Australia'],
'Rank':[7,7,2,1,6,4,1,1,1,2,1], 
'Year':[1975,1979,1983,1987,1992,1996,1999,2003,2007,2011,2015]}
df=pd.DataFrame(world_cup)
print(df.groupby(['Team','Rank']).groups)

{('Australia', 1): [3, 6, 7, 8, 10], ('India', 2): [2, 9], ('Pakistan', 6): [4], ('Sri Lanka', 4): [5], ('West Indies', 7): [0, 1]}

In [4]:
world_champions={'Team':['India','Australia','West Indies','Pakistan','Sri Lanka'], 
'ICC_rank':[2,3,7,8,4], 
'World_champions_Year':[2011,2015,1979,1992,1996],
'Points':[874,787,753,673,855]}
chokers={'Team':['South Africa','New Zealand','Zimbabwe'],'ICC_rank':[1,5,9],'Points':[895,764,656]}
df1=pd.DataFrame(world_champions)
df2=pd.DataFrame(chokers)
print(pd.concat([df1,df2],axis=1))

          Team  ICC_rank  World_champions_Year  Points          Team  \
0        India         2                  2011     874  South Africa
1    Australia         3                  2015     787   New Zealand
2  West Indies         7                  1979     753      Zimbabwe
3     Pakistan         8                  1992     673           NaN
4    Sri Lanka         4                  1996     855           NaN

   ICC_rank  Points
0       1.0   895.0
1       5.0   764.0
2       9.0   656.0
3       NaN     NaN
4       NaN     NaN

In [5]:
champion_stats={'Team':['India','Australia','West Indies','Pakistan','Sri Lanka'],
'ICC_rank':[2,3,7,8,4], 
'World_champions_Year':[2011,2015,1979,1992,1996],
'Points':[874,787,753,673,855]}
match_stats={'Team':['India','Australia','West Indies','Pakistan','Sri Lanka'],'World_cup_played':[11,10,11,9,8],
'ODIs_played':[733,988,712,679,662]}
df1=pd.DataFrame(champion_stats)
df2=pd.DataFrame(match_stats)
print(df1)
print(df2) 
print(pd.merge(df1,df2,on='Team'))

          Team  ICC_rank  World_champions_Year  Points
0        India         2                  2011     874
1    Australia         3                  2015     787
2  West Indies         7                  1979     753
3     Pakistan         8                  1992     673
4    Sri Lanka         4                  1996     855
          Team  World_cup_played  ODIs_played
0        India                11          733
1    Australia                10          988
2  West Indies                11          712
3     Pakistan                 9          679
4    Sri Lanka                 8          662
          Team  ICC_rank  World_champions_Year  Points  World_cup_played  \
0        India         2                  2011     874                11
1    Australia         3                  2015     787                10
2  West Indies         7                  1979     753                11
3     Pakistan         8                  1992     673                 9
4    Sri Lanka         4                  1996     855                 8

   ODIs_played
0          733
1          988
2          712
3          679
4          662

In [6]:
world_champions={'Team':['India','Australia','West Indies','Pakistan','Sri Lanka'],
'ICC_rank':[2,3,7,8,4], 
'World_champions_Year':[2011,2015,1979,1992,1996],
'Points':[874,787,753,673,855]}
chokers={'Team':['South Africa','New Zealand','Zimbabwe'], 
'ICC_rank':[1,5,9],'Points':[895,764,656]}
df1=pd.DataFrame(world_champions)
df2=pd.DataFrame(chokers)
print(pd.merge(df1,df2,on='Team',how='left'))

          Team  ICC_rank_x  World_champions_Year  Points_x  ICC_rank_y  \
0        India           2                  2011       874         NaN
1    Australia           3                  2015       787         NaN
2  West Indies           7                  1979       753         NaN
3     Pakistan           8                  1992       673         NaN
4    Sri Lanka           4                  1996       855         NaN

   Points_y
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN

In [11]:
print(pd.merge(df1,df2,on='Team',how='outer'))

           Team  ICC_rank_x  World_champions_Year  Points_x  ICC_rank_y  \
0         India         2.0                2011.0     874.0         NaN
1     Australia         3.0                2015.0     787.0         NaN
2   West Indies         7.0                1979.0     753.0         NaN
3      Pakistan         8.0                1992.0     673.0         NaN
4     Sri Lanka         4.0                1996.0     855.0         NaN
5  South Africa         NaN                   NaN       NaN         1.0
6   New Zealand         NaN                   NaN       NaN         5.0
7      Zimbabwe         NaN                   NaN       NaN         9.0

   Points_y
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5     895.0
6     764.0
7     656.0